####################################################################################################
# IMPORT RC
####################################################################################################

import %workspace%/support/bazel/rc/general.rc