[submodule "test/OSC-ALKS-scenarios"]
	path = test/OSC-ALKS-scenarios
	url = https://github.com/asam-oss/OSC-ALKS-scenarios
[submodule "externals/fmi2"]
	path = externals/fmi2
	url = https://github.com/modelica/fmi-standard.git
[submodule "test/OSC-NCAP-scenarios"]
	path = test/OSC-NCAP-scenarios
	url = https://github.com/vectorgrp/OSC-NCAP-scenarios
[submodule "externals/spdlog"]
	path = externals/spdlog
	url = https://github.com/gabime/spdlog.git