[submodule "test/OSC-ALKS-scenarios"]
	path = test/OSC-ALKS-scenarios
	url = https://github.com/arauschert/OSC-ALKS-scenarios.git
[submodule "externals/fmi2"]
	path = externals/fmi2
	url = https://github.com/modelica/fmi-standard.git
