.vs/
build*/*
/bin/
*.swp
*~
*.pdb
*.osi
*.osih
*.dat
*.zip
*.bak
*.csv
*.exe
*.dll
buildnr.cpp
version.cpp
version.txt
log.txt
externals/OpenSceneGraph
externals/OSI
externals/SUMO
externals/googletest
resources/models
Hello-World_coding-example/build
.pyenv
.vscode
test/OSC-ALKS-scenarios
test/stdout.txt
test/__pycache__