.vs/
build*/*
/bin/
/code-examples-bin/
*.swp
*~
*.pdb
*.osi
*.osih
*.dat
*.zip
*.bak
*.csv
*.exe
*.dll
buildnr.cpp
version.cpp
version.txt
log.txt
esmini-dyn.log
externals/osg
externals/osi
externals/sumo
externals/googletest
resources/models
Hello-World_coding-example/build
.pyenv
.vscode
test/OSC-ALKS-scenarios
test/stdout.txt
__pycache__
compile_commands.json
.cache/
out/build/**
EnvironmentSimulator/Libraries/esminiJS/build*/*
support/generated
