version: 1.3.{build}

image:
#- Visual Studio 2017
#- Visual Studio 2015
#- Ubuntu1804
- macos-mojave

configuration: Release

platform:
- x64
- x86

cache:
- externals/OpenSceneGraph
- resources/models
    
# publish package on tag build    
deploy:
  - provider: GitHub
    tag: $(APPVEYOR_REPO_TAG_NAME)
    release: esmini $(APPVEYOR_REPO_TAG_NAME) (build $(APPVEYOR_BUILD_NUMBER))
    description: 'Demo and binaries'
    auth_token:
      secure: 'Zsjm85fzs4eTdDJg1VB+Y8Lk+5bEJRBkeaEtYtnbtv2IUg1sanoQTub/55QYNBsY'
    on:
       APPVEYOR_REPO_TAG: true       # deploy on tag push only
    
for:
  -
    matrix:
      only:
        - image: Ubuntu1804
    init:
      - echo Ubuntu build script
      - sh: >-
          sudo apt-get install -y libgl1-mesa-dev libxrandr-dev libxinerama-dev
          
    build_script:
      - sh: >-
          ./create_ubuntu_gcc_project.sh
          
          cd build
          
          make -j4 install
          
    after_build:
      - sh: >-
          cd ..
          
          zip -r esmini-bin_ubuntu.zip bin 
          
          chmod -R +x ./run/*

          ./generate_binary_dist.sh

          mv esmini-demo.zip esmini-demo_ubuntu.zip 
              
    artifacts:
      - path: esmini-*_ubuntu.zip
        name: ubuntu_artifacts

  -
    matrix:
      only:
        - image: macos-mojave

    build_script:
      - echo MacOS Mojave build script
      - sh: >-
          chmod +x create_xcode_project.sh
          
          ./create_xcode_project.sh
          
          cd build
          
          xcodebuild -scheme install -configuration Release build

    after_build:
      - sh: >-
          lipo -create EnvironmentSimulator/RoadManagerDLL/Release/libRoadManagerDLL.dylib -output ../bin/RoadManagerDLL.bundle
          
          lipo -create EnvironmentSimulator/ScenarioEngineDLL/Release/libScenarioEngineDLL.dylib -output ../bin/ScenarioEngineDLL.bundle

          cd ..
          
          zip esmini-bin_mac.zip bin -r
          
          chmod -R +x ./run/*

          ./generate_binary_dist.sh

          mv esmini-demo.zip esmini-demo_mac.zip 

    artifacts:
      - path: esmini-*_mac.zip
        name: mac_artifacts
          
  -
    matrix:
      only:
        - image: Visual Studio 2017
          platform: x64
    build_script:
      - echo Visual Studio 2017 x64 build script
      - cmd:
          mkdir buildVS15_64
          
          cd buildVS15_64
          
          cmake.exe -G "Visual Studio 15 Win64" -D USE_OSG=True ..
          
      - ps: |
          echo "const char* ESMINI_BUILD_VERSION=`"$env:APPVEYOR_BUILD_VERSION`";"  | Out-File ../EnvironmentSimulator/CommonMini/buildnr.cpp
          type ../EnvironmentSimulator/CommonMini/buildnr.cpp
          
      - cmd: 

          msbuild /m /property:Configuration=Release EnvironmentSimulator.sln

          cd..

          generate_binary_dist.bat

    after_build:
      - cmd:
            7z a esmini-demo_win.zip esmini-demo/*
 
            7z a esmini-bin_win.zip bin/*

    artifacts:
      - path: esmini-*_win.zip
        name: windows_artifacts

  -
    matrix:
      only:
        - image: Visual Studio 2017
          platform: x86
    build_script:
      - echo Visual Studio 2017 x86 build script
      - cmd:
          mkdir buildVS15_32

          cd buildVS15_32

          cmake -G "Visual Studio 15" -D USE_OSG=True ..

      - ps: |
          ((Get-Content -path ../EnvironmentSimulator/CommonMini/version.cpp -Raw) -replace 'TBD',"$env:APPVEYOR_BUILD_VERSION") | Set-Content -Path ../EnvironmentSimulator/CommonMini/version.cpp
          type ../EnvironmentSimulator/CommonMini/version.cpp

      - cmd:
          msbuild /m /property:Configuration=Release /p:Platform=win32 EnvironmentSimulator.sln

          cd..
  -
    matrix:
      only:
        - image: Visual Studio 2015
          platform: x64
    build_script:
      - echo Visual Studio 2015 x64 build script
      - cmd:
          mkdir buildVS14_winsdk71_64

          cd buildVS14_winsdk71_64

          cmake -G "Visual Studio 14 2015 Win64" -T "Windows7.1SDK" -D WINSDK7_1=True -D USE_OSG=True ..

      - ps: |
          ((Get-Content -path ../EnvironmentSimulator/CommonMini/version.cpp -Raw) -replace 'TBD',"$env:APPVEYOR_BUILD_VERSION") | Set-Content -Path ../EnvironmentSimulator/CommonMini/version.cpp
          type ../EnvironmentSimulator/CommonMini/version.cpp

      - cmd:
          msbuild /m /property:Configuration=Release EnvironmentSimulator.sln

          cd..
  -
    matrix:
      exclude:
        - image: Ubuntu1804
          platform: x86
        - image: macos-mojave
          platform: x86
        - image: Visual Studio 2015
          platform: x86
