####################################################################################################
# ALIAS
####################################################################################################

build --flag_alias=dyn_protobuf=//support/bazel/common:dyn_protobuf
