####################################################################################################
# BZLMOD
####################################################################################################

common --enable_bzlmod

####################################################################################################
# WORKSPACE STATUS
####################################################################################################

build --workspace_status_command=./support/bazel/version/env.sh