####################################################################################################
# VERBOSE
####################################################################################################

common:verbose --curses=no
common:verbose --sandbox_debug
common:verbose --keep_going
common:verbose --verbose_failures
common:verbose -s